body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.notif {
    position: fixed;
    bottom: 20vh;
    left: 4vw;
    background-color: #596B59;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.hidden {
    display: none
}

.seen {
    display: block;
}